.clock-content{
   font-family: 'Inconsolata';
    height: fit-content;
    //padding: 10px 15px;
    //background: #795548;
    color: #5ee9b5;
    white-space: nowrap;
    border-radius: calc(3px * var(--ui-scale));
    letter-spacing: calc(3px * var(--ui-scale));
    font-size: calc(160px * var(--ui-scale));
    display: grid;
    grid-template-columns: min-content min-content min-content min-content min-content;
}