.clock-content{
   font-family: 'Inconsolata';
    height: fit-content;
    //padding: 10px 15px;
    //background: #795548;
    color: #5ee9b5;
    white-space: nowrap;
    border-radius: 3px;
    letter-spacing: 3px;
    font-size: clamp(6rem, 6vw + 2rem, 10rem);
    display: grid;
    grid-template-columns: min-content min-content min-content min-content min-content;
    gap: 2px;
}