.column-card {
    padding: 5px 10px;
    background: white;
    width: 200px;
    //height: 80px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.column-card-title {

    display: grid;
    direction: rtl;
    grid-template-columns: 1fr min-content;

    .column-card-name {
        font-family: Frank-Bold;
        color: #1a1a1a;
        font-size: clamp(12px, 1.6vw, 14px);

        .column-card-description {
            font-family: Frank-SemiBold;
            font-size: clamp(10px, 1.2vw, 12px);
            color: #525252;
        }
    }

    .column-card-time {
        font-size: clamp(12px, 1.6vw, 14px);
        font-family: Frank-SemiBold;
        color: #ff6a00;
        padding: 0 2px;
        border-radius: 2px;
        background: #ffd4b6;
        border: 1px solid #ff6a00;
        height: fit-content;
    }
}