.light-medium-contrast {
  --md-sys-color-primary: rgb(0 76 62);
  --md-sys-color-surface-tint: rgb(13 107 88);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(47 130 110);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(48 72 64);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(97 122 113);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(37 70 90);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(88 121 142);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(140 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(218 52 46);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(245 251 247);
  --md-sys-color-on-background: rgb(23 29 27);
  --md-sys-color-surface: rgb(245 251 247);
  --md-sys-color-on-surface: rgb(23 29 27);
  --md-sys-color-surface-variant: rgb(219 229 224);
  --md-sys-color-on-surface-variant: rgb(59 69 65);
  --md-sys-color-outline: rgb(87 97 93);
  --md-sys-color-outline-variant: rgb(115 125 121);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(43 50 47);
  --md-sys-color-inverse-on-surface: rgb(236 242 238);
  --md-sys-color-inverse-primary: rgb(134 214 191);
  --md-sys-color-primary-fixed: rgb(47 130 110);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(6 104 86);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(97 122 113);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(72 97 89);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(88 121 142);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(63 96 117);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(213 219 216);
  --md-sys-color-surface-bright: rgb(245 251 247);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 245 241);
  --md-sys-color-surface-container: rgb(233 239 235);
  --md-sys-color-surface-container-high: rgb(227 234 230);
  --md-sys-color-surface-container-highest: rgb(222 228 224);
  --md-extended-color-custom-color-color: rgb(27 68 114);
  --md-extended-color-custom-color-on-color: rgb(255 255 255);
  --md-extended-color-custom-color-color-container: rgb(82 118 167);
  --md-extended-color-custom-color-on-color-container: rgb(255 255 255);
}
