@font-face {
    font-family: "Frank-Regular";
    src: local("Frank-Regular"),
        url("./assets/fonts/FrankRuhlLibre-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Frank-SemiBold";
    src: local("Frank-SemiBold"),
        url("./assets/fonts/FrankRuhlLibre-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Frank-Bold";
    src: local("Frank-Bold"),
        url("./assets/fonts/FrankRuhlLibre-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Frank-Medium";
    src: local("Frank-Medium"),
        url("./assets/fonts/FrankRuhlLibre-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Clock-Font-Type-1";
    src: local("Clock-Font-Type-1"),
        url("./assets/fonts/BlackOpsOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Clock-Font-Type-2';
    src: local("Clock-Font-Type-2"),
        url("./assets/fonts/KeaniaOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Digital-Mono-Fonts';
    src: local("Digital-Mono-Fonts"),
        url("./assets/fonts/digital-7.ttf") format("truetype");
}

//monospace

@font-face {
    font-family: 'Inconsolata-SemiBold';
    src: local("Inconsolata-SemiBold"),
        url("./assets/fonts/Inconsolata/Inconsolata-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: 'Inconsolata-Bold';
    src: local("Inconsolata-Bold"),
        url("./assets/fonts/Inconsolata/Inconsolata-Bold.ttf") format("truetype");
}


// nexa 
@font-face {
    font-family: 'Nexa-Bold';
    src: local("Nexa-Bold"),
        url("./assets/fonts/nexa/NexaBold.ttf") format("opentype");
}