:root {
  --ui-scale: 1;
  --ui-font: calc(16px * var(--ui-scale));
  --ui-space: calc(8px * var(--ui-scale));
  
  --color-amber-400: oklch(.828 .189 84.429);
  --color-emerald-100: oklch(.95 .052 163.051);
  --color-emerald-200: oklch(.905 .093 164.15);
  --color-emerald-300: oklch(.845 .143 164.978);
  --color-emerald-400: oklch(.765 .177 163.223);
  --color-emerald-500: oklch(.696 .17 162.48);
  --color-emerald-600: oklch(.596 .145 163.225);
  --color-emerald-700: oklch(.508 .118 165.612);
  --color-teal-400: oklch(.777 .152 181.912);
  --color-cyan-400: oklch(.789 .154 211.53);
  --color-sky-300: oklch(.828 .111 230.318);
  --color-blue-400: oklch(.707 .165 254.624);
  --color-indigo-400: oklch(.673 .182 276.935);
  --color-purple-400: oklch(.714 .203 305.504);
  --color-pink-400: oklch(.718 .202 349.761);
  --color-rose-400: oklch(.712 .194 13.428);
  --color-slate-100: oklch(.968 .007 247.896);
  --color-slate-200: oklch(.929 .013 255.508);
  --color-slate-300: oklch(.869 .022 252.894);
  --color-slate-400: oklch(.704 .04 256.788);
  --color-slate-600: oklch(.446 .043 257.281);
  --color-slate-700: oklch(.372 .044 257.287);
  --color-slate-800: oklch(.279 .041 260.031);
  --color-slate-900: oklch(.208 .042 265.755);
  --color-slate-950: oklch(.129 .042 264.695);
}