.content-container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  background: #020618;
  padding-block: 50px;
  padding-inline: 40px;

  .header {
    font-size: 10rem;
  }

  .main-time-container {
    block-size: fit-content;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    border-bottom: solid 1px #314158;
    padding-block-end: 60px;

    .date {
      color: #90a1b9;
      text-align: center;
      font-family: 'Noto Sans Hebrew Variable';
    }

    .main {
      font-family: 'Inconsolata-SemiBold';
      display: flex;
      align-content: center;
      overflow: hidden;
      text-align: center;
      margin-inline-end: auto;
      margin-inline-start: auto;
    }
  }


}