.content-container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  background: #020618;
  padding-block: 50px;
  padding-inline: 40px;

  .header {
    font-size: clamp(4rem, 8vw + 2rem, 12rem);
  }

  .center-container {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);

    .center-title {
      color: #e2e8f0;
    }
  }

  .main-time-container {
    block-size: fit-content;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    border-bottom: solid 1px #314158;
    padding-block-end: 36px;

    .date {
      color: #90a1b9;
      text-align: center;
      font-family: 'Noto Sans Hebrew Variable';
    }

    .main {
      font-family: 'Inconsolata', monospace;
      font-weight: 600;
      display: flex;
      align-content: center;
      overflow: hidden;
      text-align: center;
      margin-inline-end: auto;
      margin-inline-start: auto;
    }



  }

  .titles {
    overflow-y: hidden;
    overflow-x: hidden;
  }
}