.content-container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  background: #020618;
  padding-block: calc(50px * var(--ui-scale));
  padding-inline: calc(40px * var(--ui-scale));

  .header {
    font-size: calc(6rem * var(--ui-scale));
  }

  .center-container {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);

    .center-title {
      color: #e2e8f0;
      display: grid;
      grid-template-columns: 1fr auto;
      .view-position {
        display: flex;
        gap: calc(6px * var(--ui-scale));
        align-items: center;
        .dot {
          display: block;
          background: var(--color-slate-600);
          border-radius: 50%;
          inline-size: calc(8px * var(--ui-scale));
          block-size: calc(8px * var(--ui-scale));

          &-selected{
            background: var(--color-emerald-600);
          }
        }
       
        
      }

    }
  }

  .main-time-container {
    block-size: fit-content;
    display: grid;
    grid-template-columns: auto;
    gap: calc(10px * var(--ui-scale));
    border-bottom: solid calc(1px * var(--ui-scale)) #314158;
    padding-block-end: calc(36px * var(--ui-scale));

    .date {
      color: #90a1b9;
      font-size: calc(26px * var(--ui-scale));
      display: flex;
      gap: calc(10px * var(--ui-scale));
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: 'Noto Sans Hebrew Variable';
    }

    .main {
      font-family: 'Inconsolata', monospace;
      font-weight: 600;
      display: flex;
      align-content: center;
      overflow: hidden;
      text-align: center;
      margin-inline-end: auto;
      margin-inline-start: auto;
      font-size: calc(200px * var(--ui-scale));
    }



  }

  .titles {
    overflow-y: hidden;
    overflow-x: hidden;
  }
}