.times-content {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: calc(30px * var(--ui-scale));
    padding-block-start: calc(80px * var(--ui-scale));
    direction: rtl;

    .time-wrapper {
        display: grid;
        grid-template-rows: auto;
        align-items: center;
        inline-size: 100%;
        block-size: calc(140px * var(--ui-scale));
        background: #0E1529;
        border-radius: calc(14px * var(--ui-scale));
        border: 1px solid #8795a857;
        padding: calc(12px * var(--ui-scale));
        direction: rtl;

        .time-title {
            display: flex;
            font-size: calc(22px * var(--ui-scale));
            gap: calc(10px * var(--ui-scale));
            color: #90a1b9;

            svg {
                block-size: calc(25px * var(--ui-scale));
                inline-size: calc(25px * var(--ui-scale));
            }

        }

        .time-value {
            //display: flex;
            gap: calc(10px * var(--ui-scale));
            direction: rtl;
            font-family: 'Inconsolata';
            font-size: calc(30px * var(--ui-scale));
            color: #e2e8f0;

        }
    }

    .current {
        .time-wrapper {
            background: linear-gradient(to right bottom, oklab(0.596 -0.13883 0.041849 / 0.4) 0%, oklab(0.508 -0.114299 0.0293215 / 0.4) 100%);
            border-color: oklab(0.696 -0.162114 0.0511765 / 0.6);
        }


        .time-title {
            color: var(--color-emerald-200);

            svg {
                color: var(--color-emerald-300);
            }
        }

        .time-value {
            color: var(--color-emerald-100);
        }
    }

}